<div class="checker_step_block">
    <button type="button" class="btn btn-primary js_kundenhinweise_add" data-in_modal="ok">Hinzufügen</button>
    
    <div class="insert" style="margin-top: 10px">
    {% for item in kundenhinweises %}
    <div class="item panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-10">Technische Hinweise: {{ item.id }}</div>
            </div>
        </div>
        <div class="panel-body">
            <div class="work_block">
                <div class="w_block">
                    <div class="icon">
                        <i class="fas fa-cog"></i>
                    </div>
                    <div class="title">{{ item.title }}</div>
                </div>
            </div>
            <hr>
            
            {% for task in item.tasks() %}
                <div class="task_panel panel panel-default">
                    <div class="panel-heading">
                        <b>Aufgaben</b>
                        <span class="label label-info">
                            {% if task.step == 'fahrzeugannahme' %}
                                Fahrzeugannahme
                            {% elseif task.step == 'reparatur' %}
                                Reparatur
                            {% endif %}
                        </span>&nbsp;
                        <span class="label label-warning">
                            {% if task.task == 'fehlerfrei_bedienfehler' %}
                                Behoben (Fehlerfrei/Bedienfehler)
                            {% elseif task.task == 'durch_auftragspositionen_gelöst' %}
                                Reparatur (durch Auftragspositionen gelöst)
                            {% elseif task.task == 'diagnose' %}
                                Diagnose
                            {% elseif task.task == 'nachterminierung' %}
                                Nachterminierung
                            {% elseif task.task == 'behebung_kundehunweise' %}
                                Behebung Kundehunweise
                            {% endif %}
                        </span>
                    </div>
                    <div class="panel-body">
                        <div class="well color_azure"><span class="badge">Kundehinweise:</span> {{ task.kundenhinweise_title }}</div>
                        {% for hi in task.history() %}
                            <div class="well">
                                <span class="i">
                                    <span class="badge">{% if hi.step == 'fahrzeugannahme' %}Serviceberater{% elseif hi.step == 'reparatur' %}Monteur{% endif %} antwort:</span>
                                    {{ hi.message }}
                                </span>
                                <span class="i">
                                    {% if task.task == 'fehlerfrei_bedienfehler' %}
                                        Behoben (Fehlerfrei/Bedienfehler)
                                    {% elseif task.task == 'durch_auftragspositionen_gelöst' %}
                                        Reparatur (durch Auftragspositionen gelöst)
                                    {% elseif task.task == 'diagnose' %}
                                        Diagnose
                                    {% elseif task.task == 'nachterminierung' %}
                                        Nachterminierung
                                    {% elseif task.task == 'behebung_kundehunweise' %}
                                        Behebung Kundehunweise
                                    {% endif %}
                                </span>
                                <span class="i">{{ hi.select | json_encode() }}</span>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="panel-footer">
                        <ol class="breadcrumb">
                            {% for hi in task.history() %}
                                <li>
                                    <div class="box">
                                        <span>
                                            {{ hi.step == 'fahrzeugannahme' ? 2 : hi.step == 'reparatur' ? 3 : '' }} STEP 
                                            ({{ hi.step == 'fahrzeugannahme' ? 'fahrzeugannahme' : hi.step == 'reparatur' ? 'reparatur' : '' }})
                                        </span>
                                        <h5>{{ hi.set_time | date('d-m-Y H:i') }} <span class="label label-default">{{ hi.set_user }}</span></h5>
                                    </div>
                                </li>
                            {% endfor %}
                        </ol>
                    </div>
                </div>
                {% if task.child() is null %}
                    {% if task.step_target != 'end' %}
                        <form class="task_form item panel panel-default">
                        <div class="task_panel panel panel-default">
                            <div class="panel-heading">
                                <b>Aufgaben</b>
                                <span class="label label-info">{{ task.step_target }}</span>
                                <span class="label label-warning">
                                    {% if task.task == 'diagnose' %}
                                        Behebung kundehunweise
                                    {% elseif task.task == 'behebung_kundehunweise' %}
                                        Rep.Empfehlung
                                    {% elseif task.task == 'rep_empfehlung' %} 
                                        Rep.Anweisung
                                    {% endif %}
                                </span>
                            </div>
                            <div class="panel-body">
                                <div class="well color_azure"><span class="badge">Kundehinweise:</span> {{ task.kundenhinweise_title }}</div>
                                {% for hi in task.history() %}
                                    <div class="well">
                                        <span class="i">
                                            <span class="badge">{% if hi.step == 'fahrzeugannahme' %}Serviceberater{% elseif hi.step == 'reparatur' %}Monteur{% endif %} antwort:</span>
                                            {{ hi.message }}
                                        </span>
                                        <span class="i">
                                            {% if task.task == 'fehlerfrei_bedienfehler' %}
                                                Behoben (Fehlerfrei/Bedienfehler)
                                            {% elseif task.task == 'durch_auftragspositionen_gelöst' %}
                                                Reparatur (durch Auftragspositionen gelöst)
                                            {% elseif task.task == 'diagnose' %}
                                                Diagnose
                                            {% elseif task.task == 'nachterminierung' %}
                                                Nachterminierung
                                            {% elseif task.task == 'behebung_kundehunweise' %}
                                                Behebung Kundehunweise
                                            {% endif %}
                                        </span>
                                        <span class="i">{{ hi.select | json_encode() }}</span>
                                    </div>
                                {% endfor %}
                                {% if task.task == 'diagnose' %}
                                    <div class="dashed">
                                        <input type="hidden" name="task_type" value="behebung_kundehunweise">
                                        <select name="select" class="form-control" style="margin-bottom: 15px;" {% if item.child() %} disabled {% endif %}>
                                            <option value="Behoben">Behoben</option>
                                            <option value="Rep-Erweiterung">Rep-Erweiterung</option>
                                        </select><br><br>
                                        <textarea class="form-control"></textarea>
                                    </div>
                                {% elseif task.task == 'behebung_kundehunweise' %}
                                    <div class="dashed">
                                        {% include 'checker/tasks/technische/select.twig' with {'place': 'task'} %}
                                    </div>
                                {% elseif task.task == 'rep_empfehlung' %}
                                    <div class="dashed">
                                        <input type="hidden" name="task_type" value="rep_anweisung">
                                        <div class="checkbox_flex checkbox">
                                            <label>
                                                <input type="checkbox"> <span>Ist behoben</span>
                                            </label>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="panel-footer flex-between">
                                <div></div>
                                <div class="execute">
                                    <div class="main_status label label-default">
                                        <i class="fa fa-times"></i>&nbsp;<span>nicht abgeschlossen</span>
                                    </div>
                                    <button type="submit" class="btn btn-warning btn-sm js_status_child_save is_task" 
                                            data-auftragnr="{{ auftrag.auftragnr }}" 
                                            data-kundenhinweise_id="{{ task.kundenhinweise_id }}" 
                                            data-step="{{ task.step_target }}" 
                                            data-step_child="task" 
                                            {# data-task_type="{% if task.task == 'diagnose' %}behebung_kundehunweise{% elseif task.task == 'behebung_kundehunweise' %}rep_empfehlung{% elseif task.task == 'rep_empfehlung' %}rep_anweisung{% endif %}" #}
                                            data-parent="{{ task.id }}"  
                                            data-child_id="null"
                                            data-place="head"
                                    >
                                        Ausführen
                                    </button>
                                </div>
                            </div>
                        </div>
                        </form>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
        <div class="panel-footer"></div>
    </div>
    {% endfor %}
    </div>
</div>