{% extends "lead_autos/base.twig" %}
{% set title = 'Leads Leader | TEST '~type~' Leads' %}

{% block wrapper %}

    <div class="tab-content" id="myTabContent">

        <div role="tabpanel" class="tab-pane active" id="t1">
            <table class="table table-condensed table-bordered">
                <thead>
                    <tr>
                        <th>Quelle</th>
                        <th>User</th>
                        <th width="30%">Kommunikation</th>
                        <th>Kd. Nr.</th>
                        <th>Anrufe</th>
                        <th>E-Mails</th>

                        <th width='150' colspan='2'>Antwortzeit</th>

                        <th>Aufträge</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    {% for row in leads %}
                        {% set size_call,size_mail =0,0 %}
                        {% set ans_call,ans_mail =null,null %}
                        {% for activity in row.activity%}
                            {% if  activity.type=='call' %}
                                {% set size_call=size_call+1 %}
                            {% elseif activity.type=='mail' %}
                                {% set size_mail=size_mail+1 %}
                            {% endif %}
                        {% endfor %}
                        <tr data-id="{{ row.id }}" class='{{ row.complete == 'not completed' ? 'danger' : ''}}'>
                            <td>
                                Test ADD
                            </td>
                            <td>Admin</td>
                            <td>
                                {% for i,v in row.contacts %}
                                    {{ (v.type=='phone'?'0'~v.value:v.value)~(i==row.contacts|length-1?'':', ') }}
                                {% endfor %}
                            </td>
                            <td>{{ row.kunde_nr?row.kunde_nr: '<i class="fa fa-times"></i>'}}</td>
                            <td>{{ size_call }}</td>
                            <td>{{ size_mail }}</td>
                            <td>{{ row.answer_status==1?'':'<i class="fa fa-times"></i>' }}</td>
                            <td>
                                {{ row.answer_time ==0
                                        ? (row.answer_status==0?'Nicht bearbeitet':'<i class="fa fa-check"></i>')
                                        :row.answer_time|date('H:i:s', '+00:00 GMT')
                                }}</td>
                            <td>
                                {% for i,order in row.orders %}
                                    {{ order.nr }} von {{ order.date_time|date('d-m-Y') }}{{ i==row.orders|length-1?'':', ' }}
                                {% endfor %}
                            </td>
                            <td width="130">
                                <div class='btn-group btn-group-xs'>
                                    <a href="/leads-auto/test/show/{{ row.id }}" target="_blank" class='btn btn-default btn-xs' title='Detail'><i class='glyphicon glyphicon-list'></i> Details</a>
                                </div>
                            </td>
                        </tr>

                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
    <script>
        $('#datepicker, #datepicker2').datetimepicker({
            format: 'DD.MM.YYYY'
        });
    </script>

{% endblock %}
