<div class="panel panel-default">
    <div class="panel-body">
        <form method="post" action="/faqs/articles/comments/{{ article_id }}/create" class="form-horizontal" id="comment_form">
            <input type="hidden" name="article_id" value="{{ article_id }}">
            <input type="hidden" name="user_id" value="{{ user_id }}">
            {#<div class="form-group">
                <label for="inputname" class="control-label col-xs-2">Name</label>
                <div class="col-xs-10">
                    <input name="name" id="inputname" class="form-control" placeholder="Name" autofocus>
                    <div class="erorr_name"></div>
                </div>
            </div>
            <div class="form-group">
                <label for="inputemail" class="control-label col-xs-2">Email</label>
                <div class="col-xs-10">
                    <input name="email" id="inputemail" class="form-control" placeholder="Email" autofocus>
                    <div class="erorr_email"></div>
                </div>
            </div>#}
            <div class="form-group">
                <label for="inputcomment" class="control-label col-xs-2">Kommentar</label>
                <div class="col-xs-10">
                    <textarea name="comment" id="inputcomment" class="form-control" placeholder="Kommentar" rows="6"></textarea>
                    <div class="erorr_comment"></div>
                </div>
            </div>

            {{ csrf.field | raw }}
            <button class="btn btn-primary " type="submit">{{ lang.btn.send }}</button>
        </form>
    </div>
</div>