{% extends "faq/base.twig" %}
{% set title = 'FAQs' %}

{% block wrapper %}
    
    <div class="page_faq">
        <div class="block_show">
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a href="{{ path_for('faqs.categories', { id: category.id }) }}" class="title">{{ category.title }}</a>
                            <div class="items">
                                {% for item in sub_categories %}
                                    <a href="/faqs/sub-category/{{ category.id }}/{{ item.id }}">{{ item.title }}</a>
                                {% endfor %}
                            </div>
                        </div>    
                    </div>
                </div>
                <div class="col-xs-12 col-md-8 content">
                    <div class="items">
                        {% for item in articles %}
                            <div class="item">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <button type="button" class="button js_spoiler">
                                            <span>{{ item.title }}</span>
                                            <i class="fas fa-chevron-down"></i>
                                        </button>
                                    </div>

                                    <div class="panel-body spoiler" {{ open is defined and open == item.id ? 'style="display: block"' : '' }}>
                                        <div class="editor">{{ item.description | raw }}</div>
                                        <div class="like_block">
                                            <button class="vote vote-up js_isLiked {{ item.isLikes.liked == 1 ? 'selected' : '' }}" data-like="1" data-article_id="{{ item.id }}">
                                                <i class="fas fa-thumbs-up"></i>
                                                <span>Diesen Artikel fand ich hilfreich</span>
                                            </button>
                                            <button class="vote vote-down js_isLiked {{ item.isLikes.liked is not null ? (item.isLikes.liked == 0 ? 'selected') : '' }}" data-like="0" data-article_id="{{ item.id }}">
                                                <i class="fas fa-thumbs-down"></i>
                                                <span>Diesen Artikel fand ich nicht hilfreich</span>
                                            </button>
                                        </div>
                                        <div class="form">
                                            <button type="button" class="btn btn-primary js_kontakt" data-id="{{ item.id }}">Kontakt</button>
                                            <div class="insert"></div>
                                        </div>
                                        <div id="comments">
                                            <div class="title">Kommentar</div>
                                            <div class="insert">
                                                {% for comment in item.comments %}
                                                    {% include 'faq/comment/item.twig' with {'comment': comment} %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor  %} 
                    </div>
                </div>
            </div>
        </div>    
    </div>
    
{% endblock %}


