<ul class="pagination">

    <li class="page-item {{ (active == 1 ) ? 'active' : '' }}">
        <a class="page-link">1</a>
    </li>

    {% if page == 1 or page == 2 or page == 3 or page == 4 %}
        {% if total > 8 %}
            {% set set = 9 %}
        {% else %}
            {% set set = total %}
        {% endif %}
        
        {% for count in 0..100 if count < set %}
            <li class="page-item {{ (active == count ) ? 'active' : '' }}">
                <a class="page-link">{{ count }}</a>
            </li>
        {% endfor %}
    {% elseif page > 4 %}
        {% if page == 5 %}
            {% set num = 4 %}
        {% else %}
            {% set num = 3 %}
        {% endif %}
        
        {% if (page+3) > total %}
            {% set sum = total - page %}
        {% else %}
            {% set sum = 3 %}
        {% endif %}
        ?>
        <li class="page-item disabled"><a class="page-link">...</a></li>
        {% for count in 100..0 if count >= 1 %}
            {% if page-count != 1 %}
                <li class="page-item {{ (active == page-count) ? 'active' : '' }}"><a class="page-link">{{ page-count }}</a></li>
            {% endif %}
        {% endfor %}
        <li class="page-item {{ (active == page ) ? 'active' : '' }}"><a class="page-link">{{ page }}</a></li>
        {% for count in 0..100 if count <= sum %}
            <li class="page-item {{ (active == (page+count) ) ? 'active' : '' }}"><a class="page-link">{{ page+count }}</a></li>
        {% endfor %}
    {% endif %}

    <li class="page-item disabled"><a class="page-link">...</a></li>
    <li class="page-item {{ (page == total) ? 'active' : '' }}">
        <a class="page-link">{{ total }}</a>
    </li>
</ul>